.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 !important;
    min-width: 12rem !important;
    max-width: 12rem !important; 
    padding: 0 !important;
    border: .1rem solid rgba(117, 118, 121, .2);
    border-radius: 1rem !important;
    transition: all .2s ease-in-out;

    &:hover {
        box-shadow: 0 .5rem 1.5rem var(--color-shadow);
        transform: scale(1.02);
        cursor: pointer;
    }

    & img {
        height: 5rem !important;
        border-radius: 1rem 1rem 0 0 !important;
    }
}


.cardHeader {
    display: flex;
    align-items: center;
    gap: .2rem;

    font-size: .75rem; /*12px*/ 
    color: var(--color-primary);
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem .8rem;

    & span {
        font-size: 1.1rem;
        font-weight: bold;
    }
}

.cardBody {
    padding: 0 .8rem 1rem;

    & .cardTitle {
        color: var(--color-title);
        font-size: 1rem; /*16px*/
    }

    & .cardText {
        color: var(--color-secondary);
        font-size: .75rem; /*12px*/
        margin: 0;
    }
}