/*header nav  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   }

header .search-input {
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 40px;
    background: 10px 10px url('../../assets/img/lupa.svg') no-repeat;
}*/

/*
p.text-xl-end{
    color: #0097FF;
    align-items: center;
    margin: 0;
}
*/

